@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  max-width: 85%;
  margin: 2% auto 0;
}

.select {
  background-color: #E7FE29;
  color: #131313;
  font-weight: bold;
}