@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 85%;
  margin: 2% auto 0;
}

.select {
  background-color: #e7fe29;
  color: #131313;
  font-weight: bold;
}

.blur-shadow {
  box-shadow:
    0 0 32px 12px rgba(248, 241, 241, 0.3)
}
